# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Outputs
runs/
outputs/

# Logs
*.log

# Build artifacts
build/
dist/
*.spec


